.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.about-img {
  border-radius: 18px; /* Slightly smaller than container */
  height: 32rem;
  width: auto;
  z-index: 1;
  background-color: #161513; /* Match body bg just in case */
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600px;
}
.about-title .theme-pattern {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-size: 60px;
  fill: url(#theme-gradient);
  opacity: 0.5;
}
.about-section {
  display: flex;
  gap: 80px;
}
.about-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  width: fit-content;
  flex-shrink: 0;
  padding: 4px; /* Thickness of the border */
}
.about-left::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(#df8908, #b415ff, #df8908);
  animation: rotate 4s linear infinite;
  z-index: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50px;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;

  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 22px;
  font-weight: 500;
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .about {
    margin: 50px 80px;
    gap: 60px;
  }
  .about-title h1 {
    font-size: 60px;
  }
  .about-img {
    height: 28rem;
  }
}

@media (max-width: 768px) {
  .about {
    gap: 50px;
    margin: 50px 30px;
    align-items: center;
  }
  .about-title h1 {
    font-size: 40px;
    padding: 0;
  }
  .about-title img {
    width: 100px;
    right: -10px;
  }
  .about-section {
    flex-direction: column;
    gap: 30px;
  }
  .about-left {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .about-img {
    height: auto;
    width: 80%;
    max-width: 300px;
  }
  .about-para {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .about-skills {
    gap: 15px;
    width: 100%;
  }
  .about-skill {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-skill p {
    font-size: 18px;
    min-width: auto;
  }
  .about-skill hr {
    height: 6px;
    width: 100% !important;
  }
  .about-achievements {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about-achievement {
    gap: 5px;
    flex: 1 1 40%;
  }
  .about-achievement h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 14px;
  }
}
