.f-logo {
  width: 150px;
  height: 80px;
  box-sizing: border-box;
  color: white;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left p {
  font-size: 20px;
  max-width: 400px;
}
.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}
.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(265deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.footer-email-input:hover {
  border: 2px solid white;
}
.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .footer {
    margin: 50px 30px;
  }
  .footer-top {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .footer-top-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-top-left p {
    font-size: 16px;
    max-width: 100%;
  }
  .footer-top-right {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .footer-email-input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
  }
  .footer-subscribe {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .footer-bottom-right {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0;
  }
}
