.Hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.Hero-resume a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  transition: 0.3s ease;
  display: inline-block;
}
.Hero-resume a:hover {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.hero-img-container {
  margin-top: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  width: fit-content;
  padding: 4px;
}
.hero-img-container::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(#df8908, #b415ff, #df8908);
  animation: rotate 4s linear infinite;
  z-index: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}
.profile-img {
  border-radius: 18px;
  height: 32rem;
  z-index: 1;
  background-color: #161513;
  /* border: 2px solid aliceblue; removed */
}

.Hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.Hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.Hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.Hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.Hero-connect:hover {
  border: 2px solid white;
}
.Hero-resume:hover {
  border-color: #b415ff;
}
@media (max-width: 768px) {
  .Hero img {
    margin-top: 100px;
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #b415ff;
  }
  .Hero h1 {
    margin-top: 30px;
    width: 95%;
    font-size: 40px;
    line-height: 1.2;
  }
  .Hero p {
    width: 90%;
    font-size: 16px;
    line-height: 28px;
    margin: 10px 0;
  }
  .Hero-action {
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    width: 100%;
  }
  .Hero-connect,
  .Hero-resume {
    width: 80%;
    text-align: center;
    padding: 20px 0;
    border-radius: 40px;
  }
}

@media (max-width: 1024px) {
  .Hero h1 {
    font-size: 70px;
  }
  .Hero img {
    height: 28rem;
    width: auto;
  }
}
