* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #161513;
  color: white;
  font-family: "outfit";
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 2px solid #b029b0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
